#home_root {
  text-align: center;
}

.title {
  font-family: monospace;
  font-size: 7rem;
  font-weight: 100;
}

.container {
  position: absolute;
  top:  15px;
  left: 15px;
  word-wrap: break-word;
  font-family: monospace;
  text-align: left;
  z-index: -1;
}

.cascade {
  font-size: 1.1rem;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}